<%= content_for(:header) do %>
  <%= javascript_include_tag "mapped_escapes" %>
<% end %>
<div id="welcome">
  <p>Enhance your escape with music from Last.fm and rdio.</p>
</div>
<div id="holder_1000" style="position:relative;">
  <% Escape.all.each do |escape| %>
    <%= content_tag(:div, :class => "city_hover", :id => "#{escape.city_escaped}") do %>
    	<%= content_tag(:span, :class => "c_label") do %>
    		<%= content_tag(:strong) do %>
    			<p class="main-info"><%= "#{escape.title} - #{escape.price}" %></p>
    			<p class="escape-details"><%= escape.city %>, <%= escape.state %></p>
  			<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
<p id="pan" class="italics">zoom in or out, and pan using your mouse (using the scroll button) or trackpad (using two fingers).</p>