<%= content_for(:header) do %>
  <%= javascript_include_tag "mapped_escapes" %>
  <script type="text/javascript">
    $(function(){
      $("form#song_selector").val("");
    });
    $(function(){
      $('#submit_form').click(function(){
        var form = $(this).closest("form#escape_selector");
        var value = form.find("#escape_id option:selected").val();
        form.attr("action", form.attr("action") + "/" + value);
      });
    });
  </script>
<% end %>
<div id="escape_select">
<%= form_tag url_for("/escapes"), :method => 'get', :id => "escape_selector" do %>
  <%= select_tag "escape_id", options_for_select([["Choose your escape", ""]]+ Escape.active.collect {|escape| [ escape.title, escape.id ] } ) %>
  <%= submit_tag "GO", :id => "submit_form" %>
<% end %>
</div>