<%= content_for(:header) do %>
  <script type="text/javascript">
    $(function(){
      $(".chzn-select").chosen()
    });
    $(function(){
      $("#escape_id_chzn").addClass("field");
    });
    $(function(){
      $(document).ready(initiate_geolocation);
    });
    $(function(){  
      $("#geo").click(initiate_geolocation);  
    });
    function initiate_geolocation() {  
      navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
    }  

    function handle_geolocation_query(position){
      var yahooID = $("meta[name=yahoo_id]").attr('content');
      $.get('http://where.yahooapis.com/geocode?location=' + position.coords.latitude + ',+' + position.coords.longitude + '&gflags=R&J&appid=' + yahooID, function(data){
        var xml = data;
        var city = $(xml).find("city").text();
        var state = $(xml).find("statecode").text();
        $('span#city').text(city);
        $('span#state').text(state);
      });
    }
  </script>
<% end %>

<div id="escape_select">
  <%= form_tag url_for("/escape_picker"), :method => 'post', :id => "escape_selector" do %>
    <div>
      <h1>Set your Escape to some music</h1>
    </div>
    <div class="field">
      <p class="label">Current location <%= link_to image_tag("geo.png", :id => "geo"), "#", :id => "geo" %></p>
      <%= hidden_field_tag "city", @location.city %>
      <%= hidden_field_tag "state", @location.state %>
      <p id="current_location"><span id="city"></span>, <span id="state"></span>
    </div>
    <div class="field">
      <p class="label">Your escape</p>
      <%= select_tag "escape_id", options_for_select([["Choose your escape", ""]]+ Escape.active.collect {|escape| [ escape.title, escape.id ] }), :class=>'chzn-select', :data => { :placeholder => "Find escapes!" } %>
    </div>
    <div class="field">
      <%= button_tag "GO", :type => :submit, :id => "submit_form" %>
    </div>
  <% end %>
</div>