<h2><%= @escape.title %></h2>
<p>Here are some songs Last.fm users from <%= @metro.name %> like to listen to to make your roadtrip more personal:</p>
<div id="lastfm_results">
  <div class="songs">
    <table>
      <thead>
        <tr>
          <th>Artist</th>
          <th>Song</th>
        </tr>
      </thead>
      <tbody>
        <% @metro.unique_songs.each do |song| %>
        <tr>
          <td><%= song.artist %></td>
          <td><%= link_to song.title, song.url, :target => "_blank" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p>Too underground for you? Here are the popular songs Last.fm users from <%= @metro.name %> are liking:
  <div class="songs">
    <table>
      <thead>
        <tr>
          <th>Artist</th>
          <th>Song</th>
        </tr>
      </thead>
      <tbody>
        <% @metro.popular_songs.each do |song| %>
        <tr>
          <td><%= song.artist %></td>
          <td><%= link_to song.title, song.url, :target => "_blank" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if current_user && @metro.unique_songs != [] %>
<div id="rdio_playlist">
  <%= content_tag "div", :id => "tracks", :data => {:tracks => @playlist.rdio_tracks } do %>
  <% end %>
  <div id="api">
  </div>
  <div id="current_track">
    <p>Artist:<span id="artist"></p>
    <p>Title:<span id="track"></p>
  </div>
  <div id="controls">
    <%= link_to "Play", "#", :id => "play" %>
    <%= link_to "Pause", "#", :id => "pause" %>
    <%= link_to "Previous", "#", :id => "previous" %>
    <%= link_to "Next", "#", :id => "next" %>
  </div>
  <div id="votes">
    <%= button_to "Sounds good", escape_path(@escape, :upvotes => true), :method => :put %>
    <%= button_to "Sounds bad", escape_path(@escape, :downvotes => true), :method => :put %>
  </div>
</div>
<% else %>
<p>Log in for some playlists!</p>
<% end %>