<%= content_for(:header) do %>
  <script type="text/javascript">
    $(function(){
      $('#pop_drop').click(function(){
        $('.popular').slideToggle();
      });
    });
  </script>
<% end %>
<div id="escape_info">
  <h2><%= @escape.title %></h2>
  <p><%= @escape.location %>, <%= @escape.price %><span id="details"><%= link_to "Full Details", "#", :title => "#{@escape.details}" %></span></p>
  <p><%= @escape.street %></p>
  <p><%= @escape.city %>, <%= @escape.state %> &bull; <%= @distance.round %> miles away</p>
</div>
<div id="music" class="group">
  <div id="lastfm_results">
    <p>Here are some songs Last.fm users from <%= @metro.name %> like to listen to. Browse while you listen to the rdio playlist on the right:</p>
    <div class="songs unique">
      <table>
        <thead>
          <tr>
            <th>Artist</th>
            <th>Song</th>
          </tr>
        </thead>
        <tbody>
          <% @metro.unique_songs.each do |song| %>
          <tr>
            <td><%= song.artist %></td>
            <td><%= link_to song.title, song.url, :target => "_blank", :class => "lastfm-link" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>