<%= content_for(:linked_in) do %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: qepzv0p8rt3e
    authentication: true
  </script>
<% end %>
<%= content_for(:header) do %>
  <%= javascript_include_tag "mapped_escapes" %>
<% end %>
<%= content_for(:header) do %>
  <script type="text/javascript">
    $(function(){
      if (document.cookie == "") {
        // alert('empty');
        $('#escape_select').hide();
      } else {
        // alert('present');
        $('#escape_select').show();
      }
    });
    $(function(){
      $('select').live('change',function(){
        $(this).closest('form#song_selector').submit();
      });
    });
  </script>
<% end %>

  <h1>rdtrip</h1>
  <p>login with crappy linkedin</p>
  <script type="in/Login">
  <%= current_user %>
    Welcome to rdtrip, <?js= firstName ?>!
  </script>
  <div id="escape_select">
  <%= form_tag url_for(:controller => 'songs', :action => 'index'), :method => 'get', :id => "song_selector" do %>
    <%= select_tag "escapes", options_for_select([["Choose your escape", ""]]+ Escape.active.collect {|escape| [ escape.title, escape.id ] } ) %>
  <% end %>
  </div>
  <div id="holder_570" style="position:relative;">
    <% Escape.all.each do |escape| %>
      <%= content_tag(:div, content_tag(:span, content_tag(:strong, "#{escape.title}"), :class => "c_label"), :id => "#{escape.city.gsub(" ","_")}", :class => "city_hover") %>
    <% end %>
  </div>
  <div id="footer">&nbsp;</div>