<!DOCTYPE html>
<html>
<head>
  <title>rdtrip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= yield(:header) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <p>Logged in as <%= current_user.name %> <%= link_to "Log out", logout_path %></p>
    <% end %>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>